<div id="fva-avaliacao">
    <div id="dados-avaliacao">
        <div id="avaliacao-midias">
            <p class="pergunta-questionario">Indique o(s) meio(s) pelo(s) qual(is) soube do FVA:
                        Escolha a(s) que mais se adeque(m)</p>
            <div ng-if="displayMidiaWarning" class="display-warning">
                <p>*É obrigatório selecionar ao menos uma opção antes de prosseguir. Ao escolher 'Outros:', é necessário fornecer uma descrição</p>
            </div>
            <ul>
                <li ng-repeat="question in dadosAvaliacao.midias"><input type="checkbox" ng-model="question.answer">{{question.label}}</li>
                <li>
                    <input type="checkbox" ng-model="dadosAvaliacao.midiasOutros.answer">{{dadosAvaliacao.midiasOutros.label}}
                    <input type="text" ng-model="dadosAvaliacao.midiasOutros.text">
                </li>
            </ul>
        </div>
        <div id="opiniao-questionario">
            <p class="pergunta-questionario">{{dadosAvaliacao.opiniao.label}}</p>
            <textarea rows="10" cols="70" ng-model="dadosAvaliacao.opiniao.text"></textarea><br/>
        </div>
    </div>
    <div class="nav-panel">
        <input type="submit" ui-sref="visitacao" value="<< Anterior">
        <input type="submit" value="Próximo >>" ng-click="nextPage()">
    </div>
</div>