<div id="fva-nota">
    <p>Seguindo a Resolução Normativa nº 03, de 19 de novembro de 2014, que regulamenta o envio de dados relativos ao quantitativo de visitações
    anuais dos museus ao Instituto Brasileiro de Museus (Ibram) e estabelece outras providências (obrigatoriedade constante no Decreto 8.124/2014,
    Art. 4, VIII), o Instituto disponibiliza o Formulário de Visitação de Anual (FVA) a seguir.</p>
    <p>Preencha os campos com as informações solicitadas e, em caso de dúvidas, entre em contato por meio dos telefones (61) 3521-4410, 3521-4311 e
    3521-4292, ou pelo e-mail cpai@museus.gov.br.</p>
    <p style="font-weight: bold">Ao final do Formulário, após o envio, é disponibilizado link para download (arquivo PDF) das informações fornecidas ao Ibram.
    Aproveite para arquivar suas respostas - esse documento pode ser útil para a gestão do Museu e ainda como base comparativa (série histórica) ao longo dos anos.</p>
    
    <div class="nav-panel">
        <input id="inicio-survey" type="submit" ng-click="beginFva()" value="Próximo >>">
    </div>

</div>