<div id="intro-survey">
    <p>Para efeito deste Formulário, deverá ser considerada VISITAÇÃO / VISITA todo usuário das atividades/áreas/ações desenvolvidas pelo Museu 
    ou em seu complexo que tenham relação com a equipe, o acervo, os trabalhos, os projetos e as iniciativas do Museu.</p>
    <p class="pergunta-questionario">{{dadosIntro.primeiraParticipacaoFVA.label}}</p>
    <div id="intro-option">
        <input name="survey-participation" type="radio" ng-model="dadosIntro.primeiraParticipacaoFVA.answer" ng-value="true">Sim
        <input name="survey-participation" type="radio" ng-model="dadosIntro.primeiraParticipacaoFVA.answer" ng-value="false">Não
    </div>
    <div ng-if="dadosIntro.primeiraParticipacaoFVA.answer">
        <p class="pergunta-questionario">{{dadosIntro.questionarioNaoParticipou.label}}</p>
        <div ng-if="displayFirstTimeSurveyWarning" class="display-warning">
            <p>*É obrigatório selecionar ao menos uma opção antes de prosseguir. Ao escolher 'Outros:', é necessário fornecer uma descrição</p>
        </div>
        <ul>
            <li ng-repeat="question in dadosIntro.questionarioNaoParticipou.motivos"><input type="checkbox" ng-model="question.answer">{{question.label}}</li>
            <li>
                <input type="checkbox" ng-model="dadosIntro.questionarioNaoParticipouOutros.answer">{{dadosIntro.questionarioNaoParticipouOutros.label}}
                <input type="text" ng-model="dadosIntro.questionarioJaParticipouOutros.text">
            </li>
        </ul>
    </div>
    <div ng-if="dadosIntro.primeiraParticipacaoFVA.answer === false">
        <p class="pergunta-questionario">{{dadosIntro.questionarioJaParticipou.label}}</p>
        <div ng-if="displayNotFirstTimeSurveyWarning" class="display-warning">
            <p>*Pergunta obrigatória. Por favor, marque ao menos um item.</p>
        </div>
        <ul>
            <li ng-repeat="question in dadosIntro.questionarioJaParticipou.edicoes"><input type="checkbox" ng-model="question.answer">{{question.label}}</li>
        </ul>
    </div>
    <div class="nav-panel">
        <input type="submit" ui-sref="termo-compromisso" value="<< Anterior">
        <input type="submit" value="Próximo >>" ng-click="nextPage()">
    </div>
</div>