<div id="fva-revisao">
    <div id="dados-revisao">
        <div ng-if="showReviewAlert">
            <p class="confirmacao" colspan="2">
                Revise as informações abaixo com atenção. Caso seja necessário editar algum
                dado fornecido, clique no ícone de lápis <span class='edit'></span>  ao lado do título da seção que precisa de edição. Terminada a conferência dos dados e
                finalizado o preenchimento, aperte o botão "Enviar".
            </p>
        </div>
        
        <table id="respostas-fva" style="width:100%;">        
            <tbody>
                <tr class="item-title">
                    <td colspan="3"><span class="section-header">INTRODUÇÃO</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="intro"></a></td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <p>Para efeito deste Formulário, deverá ser considerada VISITAÇÃO / VISITA todo usuário das atividades/áreas/ações desenvolvidas pelo Museu
                        ou em seu complexo que tenham relação com a equipe, o acervo, os trabalhos, os projetos e as iniciativas do Museu.</p>
                    </td>
                </tr>        
                
                <tr ng-if="respostasFVA.introducao.primeiraParticipacaoFVA.answer">
                    <td colspan="3">
                        <strong>Motivos por não participação no FVA anterior:</strong><br>
                        <span ng-if="item.answer" ng-repeat="item in respostasFVA.introducao.questionarioNaoParticipou.motivos">
                            {{item.label}},
                        </span>
                        {{respostasFVA.introducao.questionarioNaoParticipouOutros.answer === true ? respostasFVA.introducao.questionarioNaoParticipouOutros.text : ''}}
                    </td>
                </tr>
                
                
                <tr class="item-title">
                    <td colspan="3"><span class="section-header">DADOS DO RESPONSÁVEL PELO PREENCHIMENTO DO FORMULÁRIO</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="responsavel"></a></td>
                </tr>
                <tr>
                    <td>
                        <strong>{{respostasFVA.responsavel.nome.label}}</strong><br>
                        {{respostasFVA.responsavel.nome.answer}}
                    </td>

                    <td>
                        <strong>Telefone</strong><br>
                        {{respostasFVA.responsavel.telefone.answer}}
                    </td>
                    
                    <td>
                        <strong>E-mail</strong><br>
                        {{respostasFVA.responsavel.email.answer}}
                    </td>
                </tr>

                <tr class="item-title">
                    <td colspan="3"><span class="section-header">DADOS SOBRE VISITAÇÃO ATUAL</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="visitacao"></a></td>
                </tr>
                
                <tr>
                    <td>
                        <strong>{{respostasFVA.visitacao.realizaContagem.label}}</strong><br>
                        {{respostasFVA.visitacao.realizaContagem.answer === true ? 'Sim' : 'Não'}}
                    </td>
                    <td colspan="2" ng-if="respostasFVA.visitacao.realizaContagem.answer">
                        <strong>Técnicas de contagem</strong><br>
                        <span ng-if="item.answer" ng-repeat="item in respostasFVA.visitacao.tecnicaContagem">
                            {{item.label}},
                        </span>
                        {{respostasFVA.visitacao.tecnicaContagemOutros.answer === true ? respostasFVA.visitacao.tecnicaContagemOutros.text : ''}}
                    </td>
                    <td colspan="2" ng-if="!respostasFVA.visitacao.realizaContagem.answer"></td>
                </tr>
                
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer">
                    <td>
                        <strong>{{respostasFVA.visitacao.quantitativo.label}}</strong>
                    </td>
                    <td colspan="2">
                        <h6>{{respostasFVA.visitacao.quantitativo.answer}}</h6>
                    </td>
                </tr>
                
                <tr ng-if="respostasFVA.visitacao.justificativaBaixaVisitacao.answer">
                    <td colspan="3">
                        <strong>{{respostasFVA.visitacao.justificativaBaixaVisitacao.label}}</strong><br>
                        {{respostasFVA.visitacao.justificativaBaixaVisitacao.answer}}
                    </td>
                </tr>
                
                <tr ng-if="respostasFVA.visitacao.observacoes.answer">
                    <td colspan="3">
                        <strong>{{respostasFVA.visitacao.observacoes.label}}</strong><br>
                        {{respostasFVA.visitacao.observacoes.answer}}
                    </td>
                </tr>
                
                <tr class="item-title">
                    <td colspan="3"><span class="section-header">AVALIAÇÃO</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="avaliacao"></a></td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <strong>Meio(s) pelo(s) qual(is) soube do FVA</strong><br>
                        <span ng-if="item.answer" ng-repeat="item in respostasFVA.avaliacao.midias">
                            {{item.label}},
                        </span>
                        {{respostasFVA.avaliacao.midiasOutros.answer === true ? respostasFVA.avaliacao.midiasOutros.text : ''}}
                    </td>
                </tr>
                
                <tr ng-if="respostasFVA.avaliacao.opiniao.text">
                    <td colspan="3">
                        <strong>Opinião e comentários sobre o questionário:</strong><br>
                        {{respostasFVA.avaliacao.opiniao.text}}
                    </td>
                </tr>

            </tbody>
        </table>
        
        <div id="print-button" ng-if="!showReviewAlert">
            <input id="imprimirBtn" type="submit" value="Imprimir" onclick="window.print()">
        </div>
        

        <div ng-if="respostasFVA.revisao.showCienteCheckbox" id="ciente-checkbox">
            <div ng-if="showCienteCondicoesAlert">
                <p class="display-warning" colspan="2">
                    * Só é possível prosseguir após declarar ciência das instruções quanto ao envio do formulário.
                </p>
            </div>
            <div id="ciente-revisao">
                <input type="checkbox" ng-model="respostasFVA.revisao.cienteCondicoes.answer"><label>{{respostasFVA.revisao.cienteCondicoes.label}}</label>
            </div>
            <div ng-if="showReviewAlert" class="nav-panel">
                <input type="submit" ui-sref="avaliacao" value="<< Anterior">
                <input id="enviarBtn" type="submit" value="Enviar >>" ng-click="enviarFVA()">
            </div>
        </div>
    </div>
</div>
