<div id="fva-revisao">
    <div id="print-button" ng-if="!showReviewAlert">
        <input id="imprimirBtn" type="submit" value="Imprimir" onclick="window.print()">
    </div>
    <div id="dados-revisao">
        <div ng-if="showReviewAlert">
            <p class="confirmacao" colspan="2">
                Revise as informações abaixo com atenção. Caso seja necessário editar algum
                dado fornecido, clique no ícone de lápis <span class='edit'></span>  ao lado do título da seção que precisa de edição. Terminada a conferência dos dados e
                finalizado o preenchimento, aperte o botão "Enviar".
            </p>
        </div>

        <table id="respostas-fva">
            <tbody>
                <tr class="item-title">
                    <td colspan="2"><span class="section-header">INTRODUÇÃO</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="intro"></a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Para efeito deste Formulário, deverá ser considerada VISITAÇÃO / VISITA todo usuário das atividades/áreas/ações desenvolvidas pelo Museu
                        ou em seu complexo que tenham relação com a equipe, o acervo, os trabalhos, os projetos e as iniciativas do Museu.</p>
                    </td>
                </tr>
                <tr>
                    <td class="pergunta-fva">
                        <p>{{respostasFVA.introducao.primeiraParticipacaoFVA.label}}</p>
                    </td>
                    <td class="resposta-fva">
                        {{respostasFVA.introducao.primeiraParticipacaoFVA.answer === true ? 'Sim' : 'Não'}}
                    </td>
                </tr>
                <tr ng-if="respostasFVA.introducao.primeiraParticipacaoFVA.answer">
                    <td colspan="2">
                        <p>{{respostasFVA.introducao.questionarioNaoParticipou.label}}</p>
                    </td>
                </tr>
                <!-- Questionário pra quem participou -->
                <tr ng-if="respostasFVA.introducao.primeiraParticipacaoFVA.answer" ng-repeat="item in respostasFVA.introducao.questionarioNaoParticipou.motivos">
                    <td class="pergunta-fva">{{item.label}}</td>
                    <td class="resposta-fva">{{item.answer === true ? 'Sim' : ''}}</td>
                </tr>
                <tr ng-if="respostasFVA.introducao.primeiraParticipacaoFVA.answer">
                    <td class="pergunta-fva">Outros</td>
                    <td class="resposta-fva" ng-if="respostasFVA.introducao.questionarioNaoParticipouOutros.answer">{{respostasFVA.introducao.questionarioNaoParticipouOutros.text}}</td>
                </tr>
                <tr class="item-title">
                    <td colspan="2"><span class="section-header">DADOS DO RESPONSÁVEL PELO PREENCHIMENTO DO FORMULÁRIO</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="responsavel"></a></td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.responsavel.nome.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.responsavel.nome.answer}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.responsavel.telefone.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.responsavel.telefone.answer}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.responsavel.email.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.responsavel.email.answer}}</td>
                </tr>
                <tr class="item-title">
                    <td colspan="2"><span class="section-header">DADOS SOBRE VISITAÇÃO ATUAL</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="visitacao"></a></td></tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.visitacao.realizaContagem.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.realizaContagem.answer === true ? 'Sim' : 'Não'}}</td>
                </tr>
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer">
                    <td colspan="2">Qual(is) a(s) técnica(s) de contagem de público utilizada(s)?</td>
                <tr>

                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer" ng-repeat="item in respostasFVA.visitacao.tecnicaContagem">
                    <td class="pergunta-fva">{{item.label}}</td>
                    <td class="resposta-fva">{{item.answer === true ? 'Sim' : ''}}</td>
                </tr>
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer">
                    <td class="pergunta-fva">Outros</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.tecnicaContagemOutros.text}}</td>
                </tr>
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer">
                    <td class="pergunta-fva">{{respostasFVA.visitacao.quantitativo.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.quantitativo.answer}}</td>
                </tr>
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer">
                    <td class="pergunta-fva">{{respostasFVA.visitacao.justificativaBaixaVisitacao.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.justificativaBaixaVisitacao.answer}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.visitacao.observacoes.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.observacoes.answer}}</td>
                </tr>
                <tr class="item-title">
                    <td colspan="2"><span class="section-header">AVALIAÇÃO</span><a class="edit" ng-if="showReviewAlert" href="#" ui-sref="avaliacao"></a></td>
                </tr>
                <tr>
                    <td colspan="2">Indique o(s) meio(s) pelo(s) qual(is) soube do FVA</td>
                <tr>
                <tr ng-repeat="item in respostasFVA.avaliacao.midias">
                    <td class="pergunta-fva">{{item.label}}</td>
                    <td class="resposta-fva">{{item.answer === true ? 'Sim' : ''}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">Outros</td>
                    <td class="resposta-fva">{{respostasFVA.avaliacao.midiasOutros.text}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.avaliacao.opiniao.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.avaliacao.opiniao.text}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="respostasFVA.revisao.showCienteCheckbox" id="ciente-checkbox">
            <div ng-if="showCienteCondicoesAlert">
                <p class="display-warning" colspan="2">
                    * Só é possível prosseguir após declarar ciência das instruções quanto ao envio do formulário.
                </p>
            </div>
            <div id="ciente-revisao">
                <input type="checkbox" ng-model="respostasFVA.revisao.cienteCondicoes.answer"><label>{{respostasFVA.revisao.cienteCondicoes.label}}</label>
            </div>
            <div ng-if="showReviewAlert" class="nav-panel">
                <input type="submit" ui-sref="avaliacao" value="<< Anterior">
                <input id="enviarBtn" type="submit" value="Enviar >>" ng-click="enviarFVA()">
            </div>
        </div>
    </div>
</div>
