<div id="termo-compromisso">
    <h4>Termo de Compromisso</h4>
    <p>Ao fornecer as informações solicitadas neste formulário, o responsável pelo preenchimento se compromete
    com a veracidade das informações prestadas, sendo de sua inteira responsabilidade fornecer quaisquer esclarecimentos
    que possam ser solicitados pelo Instituto Brasileiro de Museus (Ibram).</p>
    <p>Ainda, informamos que os dados fornecidos por meio do preenchimento do FVA serão ampla e irrestritamente divulgados
    de maneira agregada e, em casos especiais autorizados pelo Ibram, de maneira individualizada.</p>
    <p>Adicionalmente, esclarecemos que, em casos de mais de um preenchimento para a mesma instituição, será considerado
    o último preenchimento.</p>

    <div ng-if="displayAlertaTermoCompromisso" class="display-warning">
        <p>*É necessário aceitar o Termo de Compromisso. Por favor, marque e tente novamente.</p>
    </div> 
    <div id="ciente-termos">
        <input type="checkbox" ng-model="condicao.ciente"><label>Sim, estou ciente.</label>
    </div>
     <div class="nav-panel">
        <input type="submit" ui-sref="index" value="<< Anterior">
        <input type="submit" value="Próximo >>" ng-click="validateTermos()">
    </div>
</div>