<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-input-masks/4.0.0/angular-input-masks.min.js"></script>
<div id="fva-visitacao">
    <div id="dados-visitacao">
        <div id="contagem-visitacao">
            <div class="display-warning" ng-if="displayContagemWarning">
                <p>*É obrigatório selecionar uma opção antes de prosseguir</p>
            </div>
            <p class="pergunta-questionario">{{dadosVisitacao.realizaContagem.label}}</p>
            <div id="intro-option">
                <input name="fva-contagem" type="radio" ng-model="dadosVisitacao.realizaContagem.answer" ng-value="true">Sim
                <input name="fva-contagem" type="radio" ng-model="dadosVisitacao.realizaContagem.answer" ng-value="false">Não
            </div>
            <div id="tecnica-contagem" ng-hide="!dadosVisitacao.realizaContagem.answer">
                    <p class="pergunta-questionario">Qual(is) a(s) técnica(s) de contagem de público utilizada(s)?</p>
                <div ng-if="displayTecnicaContagemWarning" class="display-warning">
                    <p>*É obrigatório selecionar ao menos uma opção antes de prosseguir. Ao escolher 'Outros:', é necessário fornecer uma descrição</p>
                </div>
                <ul>
                    <li ng-repeat="question in dadosVisitacao.tecnicaContagem"><input type="checkbox" ng-model="question.answer">{{question.label}}</li>
                    <li>
                        <input type="checkbox" ng-model="dadosVisitacao.tecnicaContagemOutros.answer">{{dadosVisitacao.tecnicaContagemOutros.label}}
                        <input type="text" ng-model="dadosVisitacao.tecnicaContagemOutros.text">
                    </li>
                </ul>
                <div id="quantitativo-ano-referencia">
                    <p class="pergunta-questionario">{{dadosVisitacao.quantitativo.label}}</p>
                    <div ng-if="displayTotalVisitasWarning" class="display-warning">
                        <p>*É obrigatório informar o total de visitações</p>
                    </div>
                    <input id="total-visitacao" type="text" ng-model="dadosVisitacao.quantitativo.answer" ui-number-mask="0"><br/>
                    <p class="pergunta-questionario">*Ano Referência é o ano calendário anterior ao ano de preenchimento deste Formulário.</p>
                </div>
                <div id="-justificativa-baixa-visitacao">
                    <p class="pergunta-questionario">{{dadosVisitacao.justificativaBaixaVisitacao.label}}</p>
                    <textarea rows="10" cols="70" ng-model="dadosVisitacao.justificativaBaixaVisitacao.answer"></textarea><br />
                </div>
            </div>
        </div>
        <div id="observacao-visitacao">
            <p class="pergunta-questionario">{{dadosVisitacao.observacoes.label}}</p>
            <textarea rows="10" cols="70" ng-model="dadosVisitacao.observacoes.answer"></textarea><br/>
            <p class="pergunta-questionario">*Neste campo podem ser informadas quaisquer ocorrências que tenham impactado positiva ou negativamente na visitação
                ao museu. Ex: fechamento total ou parcial, reformas, ausência/falta de funcionários, etc.</p>
        </div>
    </div>
    <div class="nav-panel">
        <input type="submit" ui-sref="responsavel" value="<< Anterior">
        <input type="submit" value="Próximo >>" ng-click="nextPage()">
    </div>
</div>
