<div id="responsavel-survey">
    <div id="dados-responsavel">
        <ul>
            <li>{{dadosResponsavel.nome.label}}<br/><input type="text" ng-model="dadosResponsavel.nome.answer"></li>
                <div ng-if="displayNameWarning" class="display-warning">
                    <p>*O campo 'Nome do Responsável' é obrigatório</p>
                </div>
            <li>{{dadosResponsavel.telefone.label}}<br/><input type="text" ui-mask="(99)99999?-9999" ng-model="dadosResponsavel.telefone.answer"></li>
                <div ng-if="displayTelWarning" class="display-warning">
                    <p>*O campo 'telefone' é obrigatório</p>
                </div>
            <li>{{dadosResponsavel.email.label}}<br/><input type="text" ng-model="dadosResponsavel.email.answer"></li>
                <div ng-if="displayEmailWarning" class="display-warning">
                    <p>*O campo 'email' é obrigatório</p>
                </div>
        </ul>
    </div>
    <div class="nav-panel">
        <input type="submit" ui-sref="intro" value="<< Anterior">
        <input type="submit" value="Próximo >>" ng-click="validateResponsavel()">
    </div>
</div>