<div id="fva-revisao">
    <div id="dados-revisao">
        <table id="respostas-fva">
            <tbody>
                <tr class="item-title">
                    <td colspan="2">TERMO DE COMPROMISSO</td>
                </tr>
                <tr>
                    <td colspan="2">
                        Ao fornecer as informações solicitadas neste formulário, o responsável pelo preenchimento se compromete
                        com a veracidade das informações prestadas, sendo de sua inteira responsabilidade fornecer quaisquer esclarecimentos
                        que possam ser solicitados pelo Instituto Brasileiro de Museus(Ibram).
                        Ainda, informamos que os dados fornecidos por meio do preenchimento do FVA serão ampla e irrestritamente divulgados
                        de maneira agregada e, em casos especiais autorizados pelo Ibram, de maneira individualizada.
                        Adicionalmente, esclarecemos que, em casos de mais de um preenchimento para a mesma instituição, será considerado
                        o último preenchimento.
                    </td>
                </tr>
                <tr>
                    <td class="pergunta-fva">Sim, estou ciente</td>
                    <td class="resposta-fva">{{respostasFVA.termosCompromisso.ciente === true ? 'Sim' : 'Não'}}</td>
                </tr>
                <tr class="item-title">
                    <td colspan="2">INTRODUÇÃO</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Para efeito deste Formulário, deverá ser considerada VISITAÇÃO / VISITA todo usuário das atividades/áreas/ações desenvolvidas pelo Museu 
                        ou em seu complexo que tenham relação com a equipe, o acervo, os trabalhos, os projetos e as iniciativas do Museu.</p>
                    </td>
                </tr>
                <tr>
                    <td class="pergunta-fva">
                        <p>{{respostasFVA.introducao.jaParticipouFVA.label}}</p>
                    </td>
                    <td class="resposta-fva">
                        {{respostasFVA.introducao.jaParticipouFVA.answer === true ? 'Sim' : 'Não'}}
                    </td>
                </tr>
                <tr ng-if="respostasFVA.introducao.jaParticipouFVA.answer">
                    <td colspan="2">
                        <p>{{respostasFVA.introducao.questionarioJaParticipou.label}}</p>
                    </td>
                </tr>
                <!-- Questionário pra quem participou -->
                <tr ng-if="respostasFVA.introducao.jaParticipouFVA.answer" ng-repeat="item in respostasFVA.introducao.questionarioJaParticipou.motivos">
                    <td class="pergunta-fva">{{item.label}}</td>
                    <td class="resposta-fva">{{item.answer === true ? 'Sim' : ''}}</td>
                </tr>
                <tr ng-if="respostasFVA.introducao.jaParticipouFVA.answer">
                    <td class="pergunta-fva">Outros</td>
                    <td class="resposta-fva" ng-if="respostasFVA.introducao.questionarioJaParticipouOutros.answer">{{respostasFVA.introducao.questionarioJaParticipouOutros.text}}</td>
                </tr>
                <!-- Questionário pra quem não participou -->
                <tr ng-if="respostasFVA.introducao.jaParticipouFVA.answer === false">
                    <td class="pergunta-fva">
                        {{respostasFVA.introducao.questionarioNaoParticipou.label}}
                    </td>
                </tr>
                <tr ng-if="respostasFVA.introducao.jaParticipouFVA.answer === false" ng-repeat="item in respostasFVA.introducao.questionarioNaoParticipou.edicoes">
                    <td class="pergunta-fva">{{item.label}}</td>
                    <td class="resposta-fva">{{item.answer === true ? 'Sim' : ''}}</td>
                </tr>
                <tr class="item-title">
                    <td colspan="2">DADOS DO RESPONSÁVEL PELO PREENCHIMENTO DO FORMULÁRIO</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.responsavel.nome.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.responsavel.nome.answer}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.responsavel.telefone.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.responsavel.telefone.answer}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.responsavel.email.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.responsavel.email.answer}}</td>
                </tr>
                <tr class="item-title">
                    <td colspan="2">DADOS SOBRE VISITAÇÃO ATUAL</td></tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.visitacao.realizaContagem.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.realizaContagem.answer === true ? 'Sim' : 'Não'}}</td>
                </tr>
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer" ng-repeat="item in respostasFVA.visitacao.tecnicaContagem">
                    <td class="pergunta-fva">{{item.label}}</td>
                    <td class="resposta-fva">{{item.answer === true ? 'Sim' : ''}}</td>
                </tr>
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer">
                    <td class="pergunta-fva">Outros</td>
                    <td class="resposta-fva">{{respostasFVA.introducao.tecnicaContagemOutros.text}}</td>
                </tr>
                <tr ng-if="respostasFVA.visitacao.realizaContagem.answer">
                    <td class="pergunta-fva">{{respostasFVA.visitacao.quantitativo.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.quantitativo.answer}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.visitacao.observacoes.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.visitacao.observacoes.answer}}</td>
                </tr>
                <tr class="item-title">
                    <td colspan="2">AVALIAÇÃO</td>
                </tr>
                 <tr ng-repeat="item in respostasFVA.avaliacao.midias">
                    <td class="pergunta-fva">{{item.label}}</td>
                    <td class="resposta-fva">{{item.answer === true ? 'Sim' : ''}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">Outros</td>
                    <td class="resposta-fva">{{respostasFVA.avaliacao.midiasOutros.text}}</td>
                </tr>
                <tr>
                    <td class="pergunta-fva">{{respostasFVA.avaliacao.opiniao.label}}</td>
                    <td class="resposta-fva">{{respostasFVA.avaliacao.opiniao.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>