ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
    margin-bottom: 10px;
}

.item-title{
    background: #e8eff2;
}

.pergunta-fva{
    text-align: left;
}

.resposta-fva{
    text-align: center;
}

.nav-panel{
    margin-top: 20px;
}

.display-warning{
    color: red;
    font-weight: bold;
}

.pergunta-questionario{
    font-weight: bold;
    margin-top: 15px;
}

.confirmacao{
    font-weight: bold;
    font-size: 16px;
}

#enviarBtn{
    float: right;
}