ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
    margin-bottom: 10px;
}

.item-title{
    background: #e8eff2;
}

#respostas-fva td{
    text-align: left;
}

#respostas-fva tr.item-title td{
    text-align: center;
}

.pergunta-fva{
    text-align: left;
}

.resposta-fva{
    text-align: center;
}

.nav-panel{
    margin-top: 20px;
}

.display-warning{
    color: red;
    font-weight: bold;
}

.pergunta-questionario{
    font-weight: bold;
    margin-top: 15px;
}

.confirmacao{
    font-weight: bold;
    font-size: 16px;
}

#enviarBtn{
    float: right;
}

#tecnica-contagem{
    margin-top: 20px;
}

/* Oculta os spinners nos campos number */

/* Chrome e webkit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.section-header {
    font-weight: bold;
}

.edit {
    margin-left: 10px;
}

#ciente-revisao {
    background: rgba(0, 0, 0, 0.12);
    padding: 10px;
}

@media print {
    body {
        background-image: none;
    }
    @page {
        size: A4 portrait;
    }

    .sidebar, .register-museum, #main-header, .servico, header, footer, #print-button, #fva-nota .no-print {
        display: none;
    }

    .tabs-content .aba-content {
        display: none !important;
    }

    #dados-revisao {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        height: 100%;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }

    .pergunta-fva {
        margin-top: 15px;
    }
}