ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
    margin-bottom: 10px;
}

.item-title{
    background: #e8eff2;
}

.pergunta-fva{
    text-align: left;
}

.resposta-fva{
    text-align: center;
}

.nav-panel{
    margin-top: 20px;
}

.display-warning{
    color: red;
    font-weight: bold;
}

.pergunta-questionario{
    font-weight: bold;
    margin-top: 15px;
}

.confirmacao{
    font-weight: bold;
    font-size: 16px;
}

#enviarBtn{
    float: right;
}

#tecnica-contagem{
    margin-top: 20px;
}

/* Oculta os spinners nos campos number */

/* Chrome e webkit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.section-header {
    font-weight: bold;
}

.edit {
    margin-left: 10px;
}